@import "tailwindcss";



html,
body {
  background-color: #242424;
  color: #fff;
  font-family: 'Montserrat Alternates', sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  font-style: normal;
  text-align: center;
}

.content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkcyan;
  margin-bottom: 15px;
}

/* Fuentes de google font*/
.montserrat-light {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.montserrat-regular {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-bold {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* -------- */

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.search-container input {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: aliceblue;
}


/* LIBROS */
.libros-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.libro-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.libros-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  background-color: forestgreen;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkcyan;
  margin-bottom: 15px;
  height: 50px;
}

@media (min-width: 768px) {
  .libros-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media (min-width: 1024px) {
  .libros-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}

@media (min-width: 1280px) {
  .libros-container {
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
  }
}

/* Estilo para la página de inicio (Landing) */
.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.landing h1 {
    position: relative;
    text-align: center;
}

/* Estilo para el puntero láser */
.laser-pointer, .laser-pointer-reverse {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    animation: rotateAround 2s linear infinite;
}

.laser-pointer-reverse {
    animation: rotateAroundReverse 2s linear infinite;
}

/* Animación para girar alrededor del título */
@keyframes rotateAround {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateX(300px);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg) translateX(300px);
    }
}

@keyframes rotateAroundReverse {
    0% {
        transform: translate(-50%, -50%) rotate(360deg) translateX(300px);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg) translateX(300px);
    }
}